body{
  font: 1em papyrus;
            
}
.pagination a{
  color: black;
  float:left;
  padding: 8px 16px;
}
.pagination a.active{
  background-color: #4CAF50;
  color: white;
}
.pagination a:hover:not(.active)
{background-color: #ddd;}

p.Paragraph1{
  font-size: 24px;
}
